*{margin: 0; padding: 0;}

header,main,footer{width: 75%; min-width:50%; margin: 0 auto;}

/* je gere mon header ici */

header{height: 150px; width: 100%;}
    header .zoneLogo{color: black; width: 100%;  height: 155px; float:left;  background-color: #d16b6b;}
    header .zoneBaseLine{color: #000000; background-color:yellow; float: right;}
main{padding: 30px;}
    main article{display: flex; align-items: center; padding: 20px;}
    main article picture {margin-right: 20px; max-width: 300px; width:30%;}
    main article picture img {width: 100%;}

    main form input , main form textarea{display: block; margin-bottom: 20px;}
    main form input [type=submit], main form textarea{padding: 10px; font-size: 18px;}

footer{padding: auto;}
    footer .Zonelink{color: #d16b6b; width: 800px; height: 155px;}

